header {
    background-image: url("https://images.unsplash.com/photo-1473163928189-364b2c4e1135?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 1% 99%;
}

.Beacon {
    color: #E09F3E;
    text-align: center;
    font-weight: bold;
}
.column {
    float: left;
    width: 33.33%;
}  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.news {
    text-align: center
}

.weather {
    text-align: center
}

.map {
    text-align: center
}

.footer{
    color: #C2D3CD;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;  
}

body {
    background-color: #424b54;
}

.h2-loc{
    color: #C2D3CD;
    text-decoration: underline;
}

.loc {
    color: #E09F3E;
}  
.typing-demo {
    color: #E09F3E;
    margin-left: auto;
    margin-right: auto;
    width: 42ch;
    animation: typing 2s steps(22);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
}
}

a:link {
    color: #C2D3CD;
    text-decoration: none;
}

a:visited {
    color: #C2D3CD;
    text-decoration: none;
}

a:hover {
    color: #E09F3E;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
h4{
    color:#C2D3CD
}
h6 {
    color: #E09F3E;
}

p {
    color: #C2D3CD;
}

.news-img {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}